<section class="footer-bg">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="footer-content">
                  <h4>Company</h4>
                  <ul class="footer-list">
                      <li><a href="#" alt="" target="_blank">About us</a></li>
                      <li><a href="#" alt="" target="_blank">Team</a></li>
                      <li><a href="#" alt="" target="_blank">Careers</a></li>
                      <li><a href="#" alt="" target="_blank">Swiggy Blog</a></li>
                  </ul>
              </div>

          </div>
          <div class="col-md-3">
              <div class="footer-content">
                  <h4>Contact</h4>
                  <ul class="footer-list">
                      <li><a href="#" alt="" target="_blank">Help & Support</a></li>
                      <li><a href="#" alt="" target="_blank">Partner with us</a></li>
                  </ul>
              </div>

          </div>
          <div class="col-md-3">
              <div class="footer-content">
                  <h4>Legal</h4>
                  <ul class="footer-list">
                      <li><a href="#" alt="" target="_blank">Terms & Conditions</a></li>
                      <li><a href="#" alt="" target="_blank">Refund & Cancellation</a></li>
                      <li><a href="#" alt="" target="_blank">Privacy Policy</a></li>
                      <li><a href="#" alt="" target="_blank">Offer Terms</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-content">
                  <a href="#"><img src="../assets/images/icon-AppStore_cdu3mn.webp"></a>
                  <a href="#"><img src="../assets/images/icon-GooglePlay_zvwcqb.webp"></a>
              </div>
          </div>

      </div>
      <div class="row border-top">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
              <div class="copyright">
                  <p> &copy; 2018 Swiggy</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="social-list">
                  <a class="" href="#" rel="" alt="facebook" target="_blank"><img class="_2tuBw _12_oN" height="24" alt="" src="../assets/images/icon-facebook_vrddrq.webp"></a>
                  <a class="_1Az3W" href="#" rel="nofollow noopener" alt="pintrest" target="_blank"><img class="_2tuBw _12_oN" width="24" height="24" alt="" src="../assets/images/icon-pinterest_kmz2wd.webp"></a>
                  <a class="_1Az3W" href="#" rel="nofollow noopener" alt="instagram" target="_blank"><img class="_2tuBw _12_oN" width="24" height="24" alt="" src="../assets/images/icon-instagram_b7nubh.webp"></a>
                  <a class="_1Az3W" href="#" rel="nofollow noopener" alt="twitter" target="_blank"><img class="_2tuBw _12_oN" width="24" alt="" src="../assets/images/icon-twitter_gtq8dv.webp"></a>
              </div>
          </div>

      </div>
  </div>
</section>